@import 'queries'
@import 'base'

/*MODULES*/
body
	
	overflow hidden

#summer
	
	position absolute
	top 50%
	left 50%
	
	width 100% !important
	height 100% !important
		
	transform translate(-50%, -50%)

.invitation-logo
	
	position relative

	width 45px
	margin 0 auto 20px	
	opacity 0
	transform translateY(50%)

	+q-medium()
	
		width 40px

.invitation-overlay 

	position absolute
	width 100%
	height 100%
	
	z-index 1

	&:before 
		
		content ""
		position absolute
		
		width 100%
		height 100%
		
		background  #6400FE
		opacity 0.8
		
	&:after
		
		content ""
		position absolute
		
		top 0
		
		width 100%
		height 100%	

		background -webkit-linear-gradient(  transparent, #6400FE)
		background -o-linear-gradient(  transparent, #6400FE) 
		background -moz-linear-gradient(  transparent, #6400FE)
		background linear-gradient(  transparent, #6400FE)	
		
		opacity 0.5

.invitation-text
	
	position relative
	top 50%
	margin 0 auto
	
	width 70%
	max-width 760px
	
	transform translateY(-50%)
	
	z-index 1

	+q-v-large()
		
		width 90%
	
	h4
		position relative

		margin 0 auto

		width 61%
			
		font-family 'Raleway'
		font-size 14px
		color white
		font-weight 600
		letter-spacing 3px
		line-height 2.3

		text-transform uppercase
		text-align center
		
		opacity 0
		
		transform translateY(50%)
		
		+q-large()
		
			width 90%
			letter-spacing 2px
			line-height 2
			
		+q-medium()
			
			letter-spacing 1px

	h2
		position relative
		margin-top 4.5%

		font-family 'Raleway'
		font-size 136px
		color white
		font-weight 600

		text-align center
		
		transform translateY(30%)
		
		opacity 0

		+q-v-large()
		
			font-size 86px
			
		+q-large()
			
			font-size 73px
			
		+q-medium()

			font-size 57px
	p
		
		margin 46px auto 0
		
		width 80%
		max-width 551px
	
		font-family 'Raleway'
		font-size 19px
		color white
		font-weight 400
		line-height 1.6

		text-align center
		
		transform translateY(20%)
		
		opacity 0

		+q-large()
		
			width 90%
			font-size 13px
			
		+q-medium()

			margin 26px auto 0
	
	a
		
		color #ffffff
		text-decoration none
		font-weight 600


	span
		
		display block
		margin-top 5px
		font-weight 600
