q-extralarge()
  @media ( max-width: 1200px )
    {block}
    
q-v-large()
  @media ( max-width: 1024px )
    {block}

q-large()
  @media ( max-width: 760px )
    {block}

q-medium()
  @media ( max-width: 641px )
    {block}

q-small()
  @media ( max-width: 321px )
    {block}
